html {
  font-family: sans-serif;
}

.header {
  background-color: #cbcbcb;
}

h1 {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: block;
}

nav a {
  display: block;
  padding: 0.5em 0.75em;
  text-decoration: none;
  list-style-type: none;
  color: #1579db;
}

nav a:hover {
  color: white;
  background-color: #1579db;
}

.top-text {
  background-color: #e2e2e2;
}

.end-text {
  background-color: #e2e2e2;
  width: 100%;
}

.grey {
  background-color: #e2e2e2;
}

footer {
  background-color: #cbcbcb;
}

/*small screen*/
@media only screen and (min-width: 25em) {

nav {
  text-align: center;
}

nav li {
    display: inline-block;
  }

  nav a {
    display: inline-block;
}
}
/*medium screen*/
@media only screen and (min-width: 40em) {

  h1 {
    text-align: left;
    display: inline-block;
  }

  nav {
    display: inline-block;
  }

footer {
  overflow: hidden;
}

footer p {
  display: inline-block;
}

footer nav {
  float: right;
}

}
/*large screen*/
@media only screen and (min-width: 61em) {

  .box img {
      display: inline-block;
      float: left;
      width: 50%;
    }

    dl {
      clear: both;
    }
}
